body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

body > header {
    background-color: #dc6933;
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-evenly;
}

#logo {
    color: white;
}

#nav-ul {
    display: flex;
    justify-content: space-between;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
    list-style-type: none;
}

#nav-buttons {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 20%;
}

#title {
    color: #dc6933;
    text-align: center;
}

#side-bar {
    color: #4682b4;
    text-decoration: none;
}

#side-bar-headings {
    padding-left: 10%;
}

#side-bar-buttons {
    list-style-type: none;
    padding-bottom: 8%;
}

#side-bar-buttons > a {
    text-decoration: none;
    color: #4682b4;
    padding: 8px;
}

#main-page {
    display: flex;
    justify-content: space-around;
}

#main-content {
    justify-content: center;
}

#video {
    margin-left: 32%;
    margin-right: 32%;
    object-fit: cover;
}

#main-paragraph {
    color: #dc6933;
}

#merch-title {
    color: #dc6933;
    text-align: center;
}

#merch {
    display: flex;
    justify-content: space-around;
    color: #dc6933;
    background-color: #e9d7b6;
    padding-bottom: 25px;
}

#merch h3 {
    text-align: center;
}

#merch p {
    text-align: center;
}

#buy-buttons {
    text-decoration: none;
    color: #4682b4;
    border: 2px solid #4682b4;
    border-radius: 20%;
    padding: 10px
}

#merch-photos {
    height: 100px;
    width: 100px;
}

#newsletter-title {
    color: #dc6933;
    text-align: center;
}

#newsletter {
    text-align: center;
}

#newsletter-questions {
    color: #dc6933;
}

#country-selector {
    display: flex;
    justify-content: center;
}


body > footer {
    background-color: #dc6933;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}

#footer-title {
    color: #ffffff;
}

#footer-ul {
    display: flex;
    justify-content: space-around;
}

#footer-buttons {
    color: #ffffff;
    list-style-type: none;
}

#footer-buttons > a {
    color: #ffffff;
    text-decoration: none;
}